@page "/"
@using Maui.BlazorAppTest.Models
@using Maui.BlazorAppTest.Services
@using System.IdentityModel.Tokens.Jwt
@using System.Security.Claims
@using Newtonsoft.Json
@inject IAppService AppService;
@inject NavigationManager NavManager;
<h3>Login</h3>

<EditForm Model="@loginModel" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Email address</label>
        <input type="email" @bind-value="loginModel.UserName" class="form-control" placeholder="Enter email">
        <ValidationMessage For="@(()=> loginModel.UserName)" />
    </div>
    <div class="mt-2 form-group">
        <label>Password</label>
        <input type="password" @bind-value="loginModel.Password" class="form-control" placeholder="Password">
        <ValidationMessage For="@(()=> loginModel.Password)" />
    </div>

    <div class="text-center mt-2">
        <button class="btn btn-primary" type="submit">
            SignIn
        </button>
    </div>
</EditForm>

@code {
    LoginModel loginModel = new();

     private async void Submit()
    {
        await App.Current.MainPage.DisplayAlert("Sucess", "Login Sucess!", "OK");
        
        this.StateHasChanged();
    }
}
