@page "/"
@using Maui.BlazorAppTest.Models
<h3>Login</h3>

<EditForm Model="@loginUserModel" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Email address</label>
        <input type="email" @bind-value="loginUserModel.UserName" class="form-control" placeholder="Enter email">
        <ValidationMessage For="@(()=> loginUserModel.UserName)" />
    </div>
    <div class="mt-2 form-group">
        <label>Password</label>
        <input type="password" @bind-value="loginUserModel.Password" class="form-control" placeholder="Password">
        <ValidationMessage For="@(()=> loginUserModel.Password)" />
    </div>

    <div class="text-center mt-2">
        <button class="btn btn-primary" type="submit">
            SignIn
        </button>
    </div>
</EditForm>

@code {
    LoginUserModel loginUserModel = new();

     private async void Submit()
    {
        await App.Current.MainPage.DisplayAlert("Sucess", "Login Sucess!", "OK");
        
        this.StateHasChanged();
    }
}
